@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RubikOne";
  src: url("./assets/fonts/RubikOne-Regular.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");;
}